In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
path='Bike-Sharing-Dataset/hour.csv'
data=pd.read_csv(path)

In [3]:
data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
dummy_fields = ['season', 'weathersit', 'mnth', 'hr', 'weekday']
for d in dummy_fields:
    temp=pd.get_dummies(data[d],prefix=d,drop_first=False)
    data=pd.concat([data,temp],axis=1)
fields_to_drop = ['instant', 'dteday', 'season', 'weathersit', 
                  'weekday', 'atemp', 'mnth', 'workingday', 'hr']
data=data.drop(fields_to_drop,axis=1)
data.head()

,yr,holiday,temp,hum,windspeed,casual,registered,cnt,season_1,season_2,...,hr_21,hr_22,hr_23,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0,0,0.24,0.81,0.0,3,13,16,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0.22,0.80,0.0,8,32,40,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0.22,0.80,0.0,5,27,32,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0.24,0.75,0.0,3,10,13,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0.24,0.75,0.0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
quant_features = ['casual', 'registered', 'cnt', 'temp', 'hum', 'windspeed']
scaled_features={}
for each in quant_features:
    mean,std=data[each].mean(),data[each].std()
    scaled_features[each]=[mean,std]
    data.loc[:,each]=(data[each]-mean)/std
data.head()

,yr,holiday,temp,hum,windspeed,casual,registered,cnt,season_1,season_2,...,hr_21,hr_22,hr_23,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0,0,-1.334609,0.947345,-1.553844,-0.662736,-0.930162,-0.956312,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,-1.438475,0.895513,-1.553844,-0.561326,-0.804632,-0.823998,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,-1.438475,0.895513,-1.553844,-0.622172,-0.837666,-0.868103,1,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,-1.334609,0.636351,-1.553844,-0.662736,-0.949983,-0.972851,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,-1.334609,0.636351,-1.553844,-0.723582,-1.009445,-1.039008,1,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
import numpy as np
x=[2]
[1/(1+np.exp(-k)) for k in x]

[0.88079707797788231]

In [16]:
a=[3,4,5]
[1-k for k in a]

[-2, -3, -4]

In [29]:
b=np.array(a)[None,:]
b

array([[3, 4, 5]])

In [37]:
random.sample([2,3,4,5,6],3)

NameError: name 'random' is not defined

In [50]:
import numpy as np
np.random.choice([1, 2, 3, 4, 5], 3,replace=False)
np.random.normal(size=[3,4])

array([[-1.45336126,  1.67103345,  0.67707474, -0.17706429],
       [-0.26877844,  1.56564966,  1.27113366, -0.80958471],
       [-0.14488602, -1.36456293,  1.44578557,  0.76119028]])

In [42]:
import random
random.sample([1, 2, 3, 4, 5], 3) 
random.choice([1, 2, 3, 4, 5])

2

In [53]:
f=lambda x:  1/(1+np.exp(-x))
f(0.5)-f(0.2)

0.072625333889376642